@font-face {
  font-family: "psychographiaregular";
  src: url("./fonts/psychographia-webfont.woff2") format("woff2"), url("./fonts/psychographia-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  background: #751d00;
  background: -moz-linear-gradient(left, #751d00 0%, #d53e07 18%, #fa8f68 48%, #d8440e 80%, #751d00 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #751d00), color-stop(18%, #d53e07), color-stop(48%, #fa8f68), color-stop(80%, #d8440e), color-stop(100%, #751d00));
  background: -webkit-linear-gradient(left, #751d00 0%, #d53e07 18%, #fa8f68 48%, #d8440e 80%, #751d00 100%);
  background: -o-linear-gradient(left, #751d00 0%, #d53e07 18%, #fa8f68 48%, #d8440e 80%, #751d00 100%);
  background: -ms-linear-gradient(left, #751d00 0%, #d53e07 18%, #fa8f68 48%, #d8440e 80%, #751d00 100%);
  background: linear-gradient(to right, #751d00 0%, #d53e07 18%, #fa8f68 48%, #d8440e 80%, #751d00 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#751d00", endColorstr="#751d00", GradientType=1 );
  font-family: "psychographiaregular";
  font-weight: lighter;
}

h1 {
  font-family: "psychographiaregular";
  font-weight: lighter;
  font-size: 100px;
  text-align: center;
  color: #007573;
  text-shadow: 2px 2px 5px white;
}

form {
  color: white;
  display: flex;
  justify-content: center;
}
form div {
  display: flex;
  flex-direction: column;
  font-size: 30px;
}
form .project-number {
  color: #007573;
  font-weight: 500;
  text-shadow: 2px 2px 4px white;
  text-align: center;
}
form .project-number input[type=text] {
  border: none;
  padding: 0;
  margin: 1em 1em;
  text-align: center;
  font-size: 30px;
  font-family: "psychographiaregular";
  font-weight: lighter;
  width: 80%;
  height: 55px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  background: #007573;
  opacity: 0.5;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
}
form .project-number input:hover {
  background: white;
  color: black;
  opacity: 1;
}
form .deadline {
  text-align: center;
  color: #007573;
  font-weight: 500;
  text-shadow: 2px 2px 4px white;
}
form .deadline input[type=date] {
  padding: 0;
  width: 80%;
  border: none;
  margin: 1em 1em;
  text-align: center;
  font-size: 30px;
  height: 57px;
  font-family: "psychographiaregular";
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  background: #007573;
  opacity: 0.5;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
}
form .deadline input:hover {
  background: white;
  color: black;
  opacity: 1;
}
form .languages-amount {
  color: #007573;
  font-weight: 500;
  text-shadow: 2px 2px 4px white;
  margin: 0 1em;
}
form .languages-amount label {
  font-size: 26px;
  margin-top: 1em;
  color: white;
  text-shadow: 0 0 0;
  font-weight: lighter;
}
form .languages-selection {
  color: #007573;
  font-weight: 500;
  text-shadow: 2px 2px 4px white;
  margin: 0 1em;
}
form .languages-selection label {
  font-size: 26px;
  margin-top: 1em;
  color: white;
  text-shadow: 0 0 0;
  font-weight: lighter;
}
form .btn {
  margin-top: 2em;
}
form .btn button {
  border: none;
  font: inherit;
  color: white;
  background-color: transparent;
  background-color: #007573;
  max-width: 80%;
  padding: 10px;
  font-size: 25px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  background: #007573;
  opacity: 0.5;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
}
form .btn button:hover {
  background: #000000;
  color: white;
  opacity: 1;
}

.modal-container {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-container .modal-content {
  margin: 15em 30em;
  width: 400px;
  height: 400px;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  background: #007573;
}
.modal-container .closeBtn {
  color: coral;
  float: right;
  font-size: 40px;
  padding-right: 10px;
}
.modal-container .closeBtn:hover {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}
.modal-container .modal-img {
  width: 350px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-content: center;
}
.modal-container .modal-img img {
  margin-left: 2em;
  margin-top: 3em;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  width: 80%;
  height: auto;
  text-align: center;
}

/*# sourceMappingURL=lpt.css.map */
